@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  color: #616161;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*="__conteiner"] {
  max-width: 1087px;
  margin: 0px auto;
  padding: 0px 15px;
}

@media (max-width: 1087px) {
  [class*="__conteiner"] {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  [class*="__conteiner"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__conteiner"] {
    max-width: none;
  }
}

.blok-text__tittle {
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
  color: #000;
}

.blok-text__tittle span {
  color: #EC5863;
}

.blok-text__tittle:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

@media (max-width: 479.98px) {
  .blok-text__tittle {
    font-size: 30px;
  }
}

.blok-text__tittle-blue span {
  color: #587EEC;
}

.blok-text__text {
  line-height: 138.5%;
  letter-spacing: 1px;
}

.blok-text__text:not(:last-child) {
  margin: 0px 0px 24px 0px;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 114px;
}

@media (max-width: 991.98px) {
  .header__conteiner {
    min-height: 80px;
  }
}

.header__logo {
  z-index: 2;
}

@media (max-width: 479.98px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    overflow: hidden;
  }
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 252px;
          flex: 0 0 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

@media (max-width: 991.98px) {
  .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
  }
}

@media (max-width: 767.98px) {
  .header__button .button {
    padding: 14px 20px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #fff;
    padding: 80px 15px 30px 15px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .header:target .menu__body {
    left: 0;
  }
  .header:target .menu__body:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #fff;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__item {
  margin: 0px 40px 0px 0px;
}

@media (max-width: 991.98px) {
  .menu__item {
    margin: 0px 30px 0px 0px;
  }
}

@media (max-width: 767.98px) {
  .menu__item {
    margin: 0px 0px 20px 0px;
  }
  .menu__item:last-child {
    margin: 0px 0px 0px 0px;
  }
}

.menu__link {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: calc(12 / 10 * 100%);
  letter-spacing: 1px;
  color: #000000;
}

.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 767.98px) {
  .menu__link {
    font-size: 24px;
  }
}

.button {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 10px;
  line-height: calc(12 / 10 * 100%);
  letter-spacing: 1px;
  color: #FCFDFE;
  border-radius: 5px;
  padding: 14px 30px;
  background-color: #EC5863;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #c44951;
}

.button-blue {
  background-color: #4285F4;
}

.button-blue:hover {
  background-color: #3871cc;
}

.open-icon-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .open-icon-menu {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 0px 0px 20px;
  }
  .open-icon-menu::before, .open-icon-menu::after {
    content: "";
    height: 2px;
    background-color: #000;
  }
  .open-icon-menu span {
    height: 2px;
    background-color: #000;
  }
  .header:target .open-icon-menu {
    display: none;
  }
}

.close-icon-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .close-icon-menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 30px;
    position: relative;
    margin: 0px 0px 0px 20px;
  }
  .close-icon-menu::before, .close-icon-menu::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .close-icon-menu::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .close-icon-menu::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header:target .close-icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.get-started {
  background: #FAFBFD;
}

.get-started__conteiner {
  padding: 150px 15px 50px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.get-started__conteiner::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  right: 267px;
  -webkit-transform: translate(100%, 0px);
      -ms-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
  background-color: #EC5863;
  border-radius: 30px 0px 0px 30px;
}

@media (max-width: 991.98px) {
  .get-started__conteiner::before {
    right: 165px;
    border-radius: 20px 0px 0px 20px;
  }
}

@media (max-width: 767.98px) {
  .get-started__conteiner::before {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .get-started__conteiner {
    padding: 100px 15px 50px 15px;
  }
}

.get-started__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  padding: 0px 0px 0px 20px;
}

@media (max-width: 767.98px) {
  .get-started__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0px;
  }
}

.get-started__blok-text {
  max-width: 415px;
  padding: 0px 10px 0px 0px;
}

@media (max-width: 767.98px) {
  .get-started__blok-text {
    max-width: none;
    padding: 0px;
  }
}

.get-started__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52%;
          flex: 0 1 52%;
  position: relative;
  z-index: 2;
}

.get-started__image img {
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .get-started__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
    padding: 30px 0px;
  }
}

.get-started__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding: 60px 0px 0px 20px;
}

@media (max-width: 767.98px) {
  .get-started__video {
    padding: 0px;
  }
}

.video-get-started {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-get-started__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
}

.video-get-started__body {
  padding: 0px 0px 0px 12px;
}

.video-get-started__tittle {
  color: #B0B0B0;
  font-size: 12px;
  line-height: 126%;
  letter-spacing: 1.5px;
}

.video-get-started__tittle:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.video-get-started__text {
  color: #000;
  font-size: 9px;
  line-height: 126%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.stay-safe {
  padding: 75px 0px;
}

.stay-safe__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stay-safe__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
}

.stay-safe__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.footer {
  text-align: center;
  background-color: #9365dd;
  padding: 20px 0px;
}
