// <ПОДКЛЮЧЕНИЯ ФАЙЛА ОБНУЛЯЮЩИХ СТИЛЕЙ> =========================================================================================================================================================================================================
@import "nulstyle.scss";
// </ПОДКЛЮЧЕНИЯ ФАЙЛА ОБНУЛЯЮЩИХ СТИЛЕЙ> =====================================================================================================================================================================================================================

// <ПОДКЛЮЧЕНИЯ ШРИФТОВ> ====================================================================================================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');
// </ПОДКЛЮЧЕНИЯ ШРИФТОВ> =========================================================================================================================================================================================

// <ПОДКЛЮЧЕНИЯ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ> ========================================================================================================================================================================================================================

// </ПОДКЛЮЧЕНИЯ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТО> ================================================================================================================================================================================================================


body {
	font-family: 'Rubik', sans-serif;
	font-size: 12px;
	color: #616161;
}




// <ОБОЛОЧКА> ========================================================================================================================================================================================================================
.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
// </ОБОЛОЧКА> ================================================================================================================================================================================================================

// <ОСНОВНЫЕ КЛАССЫ> ========================================================================================================================================================================================================================
.main{
	flex: 1 1 auto;
}


[class*="__conteiner"] { 			// это селектор класса 
	max-width: 1087px;
	margin: 0px auto;
	padding: 0px 15px;
	// ------ for PC ------
	@media (max-width: 1087px) {
		max-width: 970px;
	}
	// ------ for TABLET ------
	@media (max-width: 991.98px) {
		max-width: 750px;
	}
	// ------ for MOBILE ------
	@media (max-width: 767.98px) {
		max-width: none;
	}
	// ------ for MOBILE SMALL ------
	@media (max-width: 479.98px) {}

}


// </ОСНОВНЫЕ КЛАССЫ> ================================================================================================================================================================================================================


// <ОСНОВНОЙ БЛОК> ================================================================================================================================================================================================================
// <ШАПКА> ========================================================================================================================================================================================================================
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;


	&__conteiner {
		display: flex;
		align-items: center;
		min-height: 114px;
		// ------ for TABLET ------
		@media (max-width: 991.98px) {
			min-height: 80px;
		}	
	}

	&__logo {
		z-index: 2;
		// ------ for MOBILE SMALL ------
		@media (max-width: 479.98px) {
			flex: 0 0 40px;
			overflow: hidden;
		}
	}

	&__menu {
		flex: 1 1 auto;
	}

	&__button {
		flex: 0 0 252px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		z-index: 2;
		// ------ for TABLET ------
		@media (max-width: 991.98px) {
			flex: 0 0 150px;
		}
		.button {
			// ------ for MOBILE ------
			@media (max-width: 767.98px) {
				padding: 14px 20px;
			}
		}	
	}
}
.menu {
	display: flex;
	justify-content: flex-end;
	
	&__body {	
		// ------ for MOBILE ------
		@media (max-width: 767.98px) {
			position: fixed;
			top: 0;
			left: -100%;
			height: 100%;
			width: 100%;
			overflow: auto;
			background-color: #fff;
			padding: 80px 15px 30px 15px;
			transition: left 0.3s ease 0s;
			.header:target & {
				left: 0;
				&:before {
					content: '';
					position: fixed;
					top: 0;
					left: 0;
					height: 80px;
					width: 100%;
					background-color: #fff;
				}
			}
		}
	}

	&__list {	
		display: flex;
		// ------ for MOBILE ------
		@media (max-width: 767.98px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	&__item {
		margin: 0px 40px 0px 0px;
		// ------ for TABLET ------
		@media (max-width: 991.98px) {
			margin: 0px 30px 0px 0px;
		}
		// ------ for MOBILE ------
		@media (max-width: 767.98px) {
			margin: 0px 0px 20px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}

	&__link {
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 10px;
		line-height: calc(12 / 10 * 100%);
		letter-spacing: 1px;
		color: #000000;
		&:hover {
			text-decoration: underline;
		}
		@media (max-width: 767.98px) {
			font-size: 24px;
		}
	}
}
.button {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 10px;
	line-height: calc(12 / 10 * 100%);
	letter-spacing: 1px;
	color: #FCFDFE;
	border-radius: 5px;
	padding: 14px 30px;
	background-color: #EC5863;
	transition: background-color 0.3s ease 0s;
	&:hover {
		background-color: #c44951;
	}
}
.button-blue {
	background-color: #4285F4;
	&:hover {
		background-color: #3871cc;
	}
}


// Типа меню БУРГЕР ===============================================================================

.open-icon-menu {
	display: none;
	// ------ for MOBILE ------
	@media (max-width: 767.98px) {
		position: relative;
		flex: 0 0 30px;
		height: 18px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0px 0px 0px 20px;
		
		&::before,
		&::after {
			content: "";
			height: 2px;
			background-color: #000;
		}
		
		span {
			height: 2px;
			background-color: #000;
		}

		.header:target & {
			display: none;
		}
	}
}
.close-icon-menu {
	display: none;
	// ------ for MOBILE ------
	@media (max-width: 767.98px) {
		flex: 0 0 30px;
		height: 30px;
		position: relative;
		margin: 0px 0px 0px 20px;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}

		.header:target & {
			display: flex;
		}
	}
}



// </ШАПКА> ========================================================================================================================================================================================================================


// <PAGE> ========================================================================================================================================================================================================================


// </FOOTER> ========================================================================================================================================================================================================================


// </ОСНОВНОЙ БЛОК> ================================================================================================================================================================================================================
