// <ПОДКЛЮЧЕНИЯ ФАЙЛА ОБНУЛЯЮЩИХ СТИЛЕЙ> =========================================================================================================================================================================================================
@import "nulstyle.scss";
// </ПОДКЛЮЧЕНИЯ ФАЙЛА ОБНУЛЯЮЩИХ СТИЛЕЙ> =====================================================================================================================================================================================================================

// <ПОДКЛЮЧЕНИЯ ШРИФТОВ> ====================================================================================================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');
// </ПОДКЛЮЧЕНИЯ ШРИФТОВ> =========================================================================================================================================================================================

// <ПОДКЛЮЧЕНИЯ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ> ========================================================================================================================================================================================================================

// </ПОДКЛЮЧЕНИЯ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТО> ================================================================================================================================================================================================================


body {
	font-family: 'Rubik', sans-serif;
	font-size: 12px;
	color: #616161;
}




// <ОБОЛОЧКА> ========================================================================================================================================================================================================================
.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
// </ОБОЛОЧКА> ================================================================================================================================================================================================================

// <ОСНОВНЫЕ КЛАССЫ> ========================================================================================================================================================================================================================
.main{
	flex: 1 1 auto;
}

[class*="__conteiner"] { 			// это селектор класса 
	max-width: 1087px;
	margin: 0px auto;
	padding: 0px 15px;
	// ------ for PC ------
	@media (max-width: 1087px) {
		max-width: 970px;
	}
	// ------ for TABLET ------
	@media (max-width: 991.98px) {
		max-width: 750px;
	}
	// ------ for MOBILE ------
	@media (max-width: 767.98px) {
		max-width: none;
	}
	// ------ for MOBILE SMALL ------
	@media (max-width: 479.98px) {}
}

.blok-text {

	&__tittle {
		font-weight: 700;
		font-size: 44px;
		line-height: 126%;
		color: #000;
		& span {
			color: #EC5863;
		}
		&:not(:last-child) {margin: 0px 0px 12px 0px;}
		// ------ for MOBILE SMALL ------
		@media (max-width: 479.98px) {
			font-size: 30px;
		}

	}

	&__tittle-blue {
		& span {
			color: #587EEC;
		}
	}

	&__text {
		line-height: 138.5%;
		letter-spacing: 1px;
		&:not(:last-child) {margin: 0px 0px 24px 0px;}
	}

	&__button {
	}
}




// </ОСНОВНЫЕ КЛАССЫ> ================================================================================================================================================================================================================


// <ШАПКА> ========================================================================================================================================================================================================================
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;


	&__conteiner {
		display: flex;
		align-items: center;
		min-height: 114px;
		// ------ for TABLET ------
		@media (max-width: 991.98px) {
			min-height: 80px;
		}	
	}

	&__logo {
		z-index: 2;
		// ------ for MOBILE SMALL ------
		@media (max-width: 479.98px) {
			flex: 0 0 40px;
			overflow: hidden;
		}
	}

	&__menu {
		flex: 1 1 auto;
	}

	&__button {
		flex: 0 0 252px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		z-index: 2;
		// ------ for TABLET ------
		@media (max-width: 991.98px) {
			flex: 0 0 150px;
		}
		.button {
			// ------ for MOBILE ------
			@media (max-width: 767.98px) {
				padding: 14px 20px;
			}
		}	
	}
}
.menu {
	display: flex;
	justify-content: flex-end;
	
	&__body {	
		// ------ for MOBILE ------
		@media (max-width: 767.98px) {
			position: fixed;
			top: 0;
			left: -100%;
			height: 100%;
			width: 100%;
			overflow: auto;
			background-color: #fff;
			padding: 80px 15px 30px 15px;
			transition: left 0.3s ease 0s;
			.header:target & {
				left: 0;
				&:before {
					content: '';
					position: fixed;
					top: 0;
					left: 0;
					height: 80px;
					width: 100%;
					background-color: #fff;
				}
			}
		}
	}

	&__list {	
		display: flex;
		// ------ for MOBILE ------
		@media (max-width: 767.98px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	&__item {
		margin: 0px 40px 0px 0px;
		// ------ for TABLET ------
		@media (max-width: 991.98px) {
			margin: 0px 30px 0px 0px;
		}
		// ------ for MOBILE ------
		@media (max-width: 767.98px) {
			margin: 0px 0px 20px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}

	&__link {
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 10px;
		line-height: calc(12 / 10 * 100%);
		letter-spacing: 1px;
		color: #000000;
		&:hover {
			text-decoration: underline;
		}
		@media (max-width: 767.98px) {
			font-size: 24px;
		}
	}
}
.button {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 10px;
	line-height: calc(12 / 10 * 100%);
	letter-spacing: 1px;
	color: #FCFDFE;
	border-radius: 5px;
	padding: 14px 30px;
	background-color: #EC5863;
	transition: background-color 0.3s ease 0s;
	&:hover {
		background-color: #c44951;
	}
}
.button-blue {
	background-color: #4285F4;
	&:hover {
		background-color: #3871cc;
	}
}

// Типа меню БУРГЕР ===============================================================================
.open-icon-menu {
	display: none;
	// ------ for MOBILE ------
	@media (max-width: 767.98px) {
		position: relative;
		flex: 0 0 30px;
		height: 18px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0px 0px 0px 20px;
		
		&::before,
		&::after {
			content: "";
			height: 2px;
			background-color: #000;
		}
		
		span {
			height: 2px;
			background-color: #000;
		}

		.header:target & {
			display: none;
		}
	}
}
.close-icon-menu {
	display: none;
	// ------ for MOBILE ------
	@media (max-width: 767.98px) {
		flex: 0 0 30px;
		height: 30px;
		position: relative;
		margin: 0px 0px 0px 20px;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}

		.header:target & {
			display: flex;
		}
	}
}
// </ШАПКА> ========================================================================================================================================================================================================================

// <MAIN BLOK> ================================================================================================================================================================================================================
// ====== GET-STARTED ========================================================================================================================================================================================================================
.get-started {
	background: #FAFBFD;

	&__conteiner {
		padding: 150px 15px 50px 15px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 100vw;
			height: 100%;
			top: 0;
			right: 267px;
			transform: translate(100%, 0px);
			background-color: #EC5863;
			border-radius: 30px 0px 0px 30px;
			// ------ for TABLET ------
			@media (max-width: 991.98px) {
				right: 165px;
				border-radius: 20px 0px 0px 20px;
			}
			// ------ for MOBILE ------
			@media (max-width: 767.98px) {
				display: none;
			}
		}
		// ------ for MOBILE ------
		@media (max-width: 767.98px) {
			padding: 100px 15px 50px 15px;
		}
		
	}

	&__content {
		flex: 0 1 48%;
		padding: 0px 0px 0px 20px;
		// ------ for MOBILE ------
		@media (max-width: 767.98px) {
			flex: 1 1 100%;
			padding: 0px;

		}
		
		
	}

	&__blok-text {
		max-width: 415px;
		padding: 0px 10px 0px 0px;
		// ------ for MOBILE ------
		@media (max-width: 767.98px) {
			max-width: none;
			padding: 0px;
		}
		
	}

	&__image {
		flex: 0 1 52%;
		position: relative;
		z-index: 2;
		img {
			max-width: 100%;
		}
		@media (max-width: 767.98px) {
			flex: 1 1 100%;
			text-align: center;
			padding: 30px 0px;
		}

	}

	&__video {
		flex: 0 1 100%;
		padding: 60px 0px 0px 20px;
		@media (max-width: 767.98px) {
			padding: 0px;
		}
	}
}
.video-get-started {
	display: inline-flex;
	align-items: center;

	&__icon {
		flex: 0 0 44px;
	}

	&__body {
		padding: 0px 0px 0px 12px;
	}

	&__tittle {
		color: #B0B0B0;
		font-size: 12px;
		line-height: 126%;
		letter-spacing: 1.5px;
		&:not(:last-child) {margin: 0px 0px 5px 0px;}
	}

	&__text {
		color: #000;
		font-size: 9px;
		line-height: 126%;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}
// ====== STAY-SAFE ========================================================================================================================================================================================================================
.stay-safe {
	padding: 80px 0px;
	@media (max-width: 991.98px) {
		padding: 40px 0px;
	}
	@media (max-width: 767.98px) {
		padding: 30px 0px;
	}

	&__conteiner {
		display: flex;
		align-items: center;
		// ------ for MOBILE ------
		@media (max-width: 767.98px) {
			flex-direction: column-reverse;
		}
	}

	&__media {
		flex: 0 1 50%;
		// ------ for TABLET ------
		@media (min-width: 991.98px) {
			padding: 0px 0px 0px 47px;
		}
	}

	&__content {
		flex: 0 1 50%;
		// ------ for MOBILE ------
		@media (max-width: 767.98px) {
			margin: 0px 0px 30px 0px;
		}
	}

	&__blok-text {
	}
}
.media-stay-safe {
	width: 370px;
	text-align: center;
	padding: 56px 0px 27px 0px;
	position: relative;
	// ------ for MOBILE SMALL ------
	@media (max-width: 479.98px) {
		width: 290px;
	}


	&__image {
		display: inline-block;
		box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
		border-radius: 16px;
		position: relative;
		width: 61.8%;
		img {
			position: relative;
			z-index: 5;
			max-width: 100%;
		}
		&::after {
			content: "";
			position: absolute;
			z-index: 2;
			bottom: -12px;
			left: 12px;
			width: 206px;
			height: 27px;
			background: rgba(240, 240, 240, 0.49);
			border-radius: 16px;
		}

	}
	&__item {
		position: absolute;
		background: #EC5863;
		border-radius: 30px;
		width: 77px;
		height: 77px;
	}

	&__item1 {
		top: 0;
		left: 0;
		width: 147px;
		height: 147px;
	}

	&__item2 {
		bottom: 0px;
		left: 33px;
	}

	&__item3 {
		bottom: 107px;
		right: 30px;
	}
}







// ====== FOOTER ========================================================================================================================================================================================================================

.footer {
	text-align: center;
	background-color: #9365dd;
	padding: 20px 0px;
}

// </MAIN BLOK> ================================================================================================================================================================================================================
