// <ПОДКЛЮЧЕНИЯ ФАЙЛА ОБНУЛЯЮЩИХ СТИЛЕЙ> =========================================================================================================================================================================================================
@import "nulstyle.scss";
// </ПОДКЛЮЧЕНИЯ ФАЙЛА ОБНУЛЯЮЩИХ СТИЛЕЙ> =====================================================================================================================================================================================================================

// <ПОДКЛЮЧЕНИЯ ШРИФТОВ> ====================================================================================================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap');
// </ПОДКЛЮЧЕНИЯ ШРИФТОВ> =========================================================================================================================================================================================

// <ПОДКЛЮЧЕНИЯ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ> ========================================================================================================================================================================================================================

// </ПОДКЛЮЧЕНИЯ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТО> ================================================================================================================================================================================================================


body {
	font-family: 'Rubik', sans-serif;
	font-size: 12px;
	color: #616161;
}




// <ОБОЛОЧКА> ========================================================================================================================================================================================================================
.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
// </ОБОЛОЧКА> ================================================================================================================================================================================================================

// <ОСНОВНЫЕ КЛАССЫ> ========================================================================================================================================================================================================================
.main{
	flex: 1 1 auto;
}


[class*="__conteiner"] { 			// это селектор класса - чисто прикол для интереса
	max-width: 1057px;
	margin: 0px auto;
}


// </ОСНОВНЫЕ КЛАССЫ> ================================================================================================================================================================================================================


// <ОСНОВНОЙ БЛОК> ================================================================================================================================================================================================================
// <ШАПКА> ========================================================================================================================================================================================================================




// </ШАПКА> ========================================================================================================================================================================================================================


// <PAGE> ========================================================================================================================================================================================================================


// </FOOTER> ========================================================================================================================================================================================================================


// </ОСНОВНОЙ БЛОК> ================================================================================================================================================================================================================
